sistemaasesoriaJAC/Connected Services/SocratesWS/SocratesService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/socratesWsSOAP.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/socratesWsSOAP.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Alumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidoalumno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigoalumno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correoalumno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dnialumno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombrealumno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alumno" nillable="true" type="tns:Alumno" />
  <xs:complexType name="ArrayOfAlumno">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alumno" nillable="true" type="tns:Alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlumno" nillable="true" type="tns:ArrayOfAlumno" />
  <xs:complexType name="Docente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidodocente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigodocente" type="xs:int" />
      <xs:element minOccurs="0" name="Correodocente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dnidocente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombredocente" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Docente" nillable="true" type="tns:Docente" />
  <xs:complexType name="ArrayOfDocente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Docente" nillable="true" type="tns:Docente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocente" nillable="true" type="tns:ArrayOfDocente" />
</xs:schema>