sistemaasesoriaJAC/Connected Services/SocratesWS/SocratesService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51769/SocratesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/socratesWsSOAP.Dominio" />
  <xs:element name="CrearAlumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/socratesWsSOAP.Dominio" minOccurs="0" name="alumnoCrear" nillable="true" type="q1:Alumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearAlumnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/socratesWsSOAP.Dominio" minOccurs="0" name="CrearAlumnoResult" nillable="true" type="q2:Alumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAlumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAlumnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/socratesWsSOAP.Dominio" minOccurs="0" name="ObtenerAlumnoResult" nillable="true" type="q3:Alumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarAlumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/socratesWsSOAP.Dominio" minOccurs="0" name="alumnoModificar" nillable="true" type="q4:Alumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarAlumnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/socratesWsSOAP.Dominio" minOccurs="0" name="ModificarAlumnoResult" nillable="true" type="q5:Alumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAlumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAlumnoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAlumno">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAlumnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/socratesWsSOAP.Dominio" minOccurs="0" name="ListarAlumnoResult" nillable="true" type="q6:ArrayOfAlumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearDocente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/socratesWsSOAP.Dominio" minOccurs="0" name="docenteCrear" nillable="true" type="q7:Docente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearDocenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/socratesWsSOAP.Dominio" minOccurs="0" name="CrearDocenteResult" nillable="true" type="q8:Docente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDocente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDocenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/socratesWsSOAP.Dominio" minOccurs="0" name="ObtenerDocenteResult" nillable="true" type="q9:Docente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarDocente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/socratesWsSOAP.Dominio" minOccurs="0" name="docenteModificar" nillable="true" type="q10:Docente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarDocenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/socratesWsSOAP.Dominio" minOccurs="0" name="ModificarDocenteResult" nillable="true" type="q11:Docente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDocente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDocenteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDocente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDocenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/socratesWsSOAP.Dominio" minOccurs="0" name="ListarDocenteResult" nillable="true" type="q12:ArrayOfDocente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>